/ clients
.clients.text-center
  .container
    %h4 Clients
    .strip-line
    .client-grids
      .col-md-4.cl-grid
        .client-grid
          -#%img{:alt => "", :src => "images/10.png"}/
          = image_tag "10.png"
      .col-md-4.cl-grid
        .client-grid
          -#%img{:alt => "", :src => "images/11.png"}/
          = image_tag "11.png"
      .col-md-4.cl-grid
        .client-grid
          -#%img{:alt => "", :src => "images/12.png"}/
          = image_tag "12.png"
      .clearfix
/ clients
