/ education
.education.text-center
  .container
    .edu-info
      %h3 EDUCATION
    .strip.text-center
      = image_tag "edu.png"
    .edu-grids
      .col-md-4.edu-grid
        %p 2012 - 2013
        %span Graduated
        -#= image_tag "arrow.png"
        = fa_icon "caret-down 4x"
        -#%span.glyphicon.glyphicon-triangle-top
        -#%span.glyphicon-triangle-top
        .edu-border
          .edu-grid-master
            %h3 MASTER DEGREE OF COMPUTER SCIENCE
            %h4 Oxford University
          .edu-grid-info
            %h5
              This is Photoshop's version Lorem Ipsum.
              Well, the way they make shows is, they make one show.
      .col-md-4.edu-grid
        %p 2012 - 2013
        %span Graduated
        -#%img{:alt => "", :src => "images/arrow.png"}/
        = image_tag "arrow.png"
        .edu-border
          .edu-grid-master
            %h3 MASTER DEGREE OF COMPUTER SCIENCE
            %h4 Oxford University
          .edu-grid-info
            %h5
              This is Photoshop's version Lorem Ipsum.
              Well, the way they make shows is, they make one show.
      .col-md-4.edu-grid
        %p 2012 - 2013
        %span Graduated
        -#%img{:alt => "", :src => "images/arrow.png"}/
        = image_tag "arrow.png"
        .edu-border
          .edu-grid-master
            %h3 MASTER DEGREE OF COMPUTER SCIENCE
            %h4 Oxford University
          .edu-grid-info
            %h5
              This is Photoshop's version Lorem Ipsum.
              Well, the way they make shows is, they make one show.
      .clearfix
/ //education
.strip-border
  %p