/ work
.work-experience.text-center
  .container
    .work-info
      %h3 WORK EXPERIENCE
    .strip.text-center
      -#%img{:alt => " ", :src => "images/work.png"}/
      = image_tag "work.png"
    .work-grids
      .col-md-4.w-grid
        .work-grid
          %h3 2013 - Now
          .work-grid-info
            %h4 Google
            %h5 Visual Designer
            %p
              Now that there is the Tec-9, a crappy spray gun from South Miami.
              This gun is advertised as the most popular gun in American crime.
              Do you believe that shit? It actually says that in the little book
              that comes with it: the most popular gun in
      .col-md-4.w-grid
        .work-grid
          %h3 2013 - Now
          .work-grid-info
            %h4 Google
            %h5 Visual Designer
            %p
              Now that there is the Tec-9, a crappy spray gun from South Miami.
              This gun is advertised as the most popular gun in American crime.
              Do you believe that shit? It actually says that in the little book
              that comes with it: the most popular gun in
      .col-md-4.w-grid
        .work-grid
          %h3 2013 - Now
          .work-grid-info
            %h4 Google
            %h5 Visual Designer
            %p
              Now that there is the Tec-9, a crappy spray gun from South Miami.
              This gun is advertised as the most popular gun in American crime.
              Do you believe that shit? It actually says that in the little book
              that comes with it: the most popular gun in
      .clearfix
/ //work